* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.round-black-btn {
	border-radius: 25px;
    background: #212529;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    font-size: 14px;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}

.round-red-btn {
	border-radius: 25px;
    background: #ff0000;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    border: solid 2px #ff0000; 
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    font-size: 14px;
}
.round-red-btn:hover,
.round-red-btn:focus {
	background: transparent;
	color: #ff0000;
	text-decoration: none;
}

.trash-icon {
    font-size: 20px;
    color: #212529;
}
.product-name{
    margin-top: 50px;
    display: flex;

}
