* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f3f4f8;
    
}

.cartContainer {
    font-size: small;
    margin: 40px;
}

.titleCount {
    color: grey;
    font-size: large;
}

.cartItem {
    border: solid rgb(219, 218, 218);
    background-color: white;
    border-radius: 5px;
    height: 200px;

}

.removeButton {
    
    width: 35px;
    height: 34px;
    border-radius: 5px;
}




.orderSummary {
    border: solid rgb(219, 218, 218);
    padding: 30px; 
    height: 50%; 

}

.checkoutButton {
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    background-color: blue;
    font-size: larger;
}

.orderSummary h2 span {
    color: grey;
    font-size: large;
}

.subTotal{
    font-weight: lighter;
    font-size: large;
    
}
.discount{
    font-weight: lighter;
    font-size: large;
}
.shippingFee {
    font-weight: lighter;
    font-size: large;

}

.subTotal span {
    float: right;
    font-size: large;
    text-decoration: line-through;

}

.shippingFee span {
    float: right;
    font-weight: bold;
    color: rgb(18, 149, 18)
}
.TotalText{
    font-size: large;
}
.TotalText span{
    font-weight: lighter;
    font-size: large;
    
}
.totalPrice{
    font-weight: bold;
    font-size: large;
}
.allItems{
    display:flex;
    flex-direction: column;
}
.image{
    float: left;
    margin-right: 10px;
}
.itemName{
    float: left;
    width: 50%;
    font-size:large
}
.removeButton{
    float:left;
    margin-top: 100px;

}
.itemCount{
    float: right;
    font-size: large;
    margin-top: 100px;
}
.price {
    font-weight: bolder;
    font-size: large
}
.qtyButton{
    width: 30px;
    border-radius: 5px;
}

.discount span{
    float: right;
}