@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --con: 70%;
  --c1: #428aff;
  --c2: #494949de;
  line-height: 1.5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--c1) !important;
}
p,
a {
  color: var(--c2);
}
.container-fluid {
  width: 90%;
}
.slide {
  width: 80%;
  margin: auto;
}

/* #Category{
  
} */
.carousel-width {
  height: 500px !important;
}
